<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Your Player Profile</h2>

    <%= simple_form_for(resource, as: resource_name, :url => registration_path(resource_name), :html => { :method => :put, role: 'form' }, help: :block) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-sm-6 col-md-6">

          <%= f.input :first_name %>

          <%= f.input :last_name %>

          <%= f.input :phone, hint: "use any format you'd like but include your area code", placeholder: "e.g. 814-555-3425" %>

          <%= f.input :email %>

          <%= f.input :scheduling_info, label: "Best times to schedule a match", hint: "displayed to your challenger while scheduling a match", placeholder: "e.g. Wednesdays and Thursdays after 5pm", input_html: { rows: 5 } %>

          <%= f.input :show_contact_info, label: "Show my contact details to other players" %>

        </div>
        <div class="visible-xs"><hr></div>
        <div class="col-sm-6 col-md-6">

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <%= f.input :password, autocomplete: 'off', hint: "(leave blank if you don't need to change it)" %>

          <%= f.input :password_confirmation %>

          <%= f.input :current_password, hint: "(so we can confirm your changes)" %>

        </div>
      </div>

      <div class="form-group">
        <%= f.button :submit, 'Update', class: 'btn-primary', data: { disable_with: 'Updating...' } %>
      </div>

    <% end %>

    <!--

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    -->
  </div>
</div>
