<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Your Player Profile</h2>

    <%= simple_form_for(resource, as: resource_name, :url => registration_path(resource_name), :html => { :method => :put, role: 'form' }, help: :block) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-sm-6 col-md-6">

          <%= f.input :first_name %>

          <%= f.input :last_name %>

          <%= f.input :phone %>

          <%= f.input :email %>

        </div>
        <div class="visible-xs"><hr></div>
        <div class="col-sm-6 col-md-6">

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <%= f.input :password, :autocomplete => "off", hint: "(leave blank if you don't want to change it )" %>

          <%= f.input :password_confirmation %>

          <%= f.input :current_password, hint: "(we need your current password to confirm your changes)" %>

        </div>
      </div>

      <div class="form-group">
        <%= f.button :submit, 'Update', class: 'btn-primary', disable_with: 'Updating...' %>
      </div>

    <% end %>

    <!--

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    -->
  </div>
</div>
