<div class="row">
  <div class="span8 offset2">
    <h2>Your Player Profile</h2>

    <%= bootstrap_form_for(resource, as: resource_name, :url => registration_path(resource_name), :html => { :method => :put }, help: :block) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="span4">

          <%= f.text_field :first_name %>

          <%= f.text_field :last_name %>

          <%= f.text_field :phone %>

          <%= f.email_field :email %>

        </div>
        <div class="span4">

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <%= f.password_field :password, :autocomplete => "off", help: "(leave blank if you don't want to change it )" %>

          <%= f.password_field :password_confirmation %>

          <%= f.password_field :current_password, help: "(we need your current password to confirm your changes)" %>

        </div>
      </div>

      <%= f.actions do %>
        <%= f.primary 'Update', disable_with: 'Updating...' %>
      <% end %>

    <% end %>

    <!--

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    -->
  </div>
</div>
