<%
if @match.challenger_game3.to_i == 0 and @match.challenged_player_game3.to_i == 0
  table_width = "50%"
else
  table_width = "33%"
end
%>

<h2>Your Challenge Match score is in...</h2>
<p>The challenger, <%= @match.challenger.name %>, has submitted the score for your challenge match played on <%= @match.played_at.to_date.to_formatted_s(:long_ordinal) %>.</p>
<br />
<% if @match.challenger.id == @match.winner %>
  <p>The challenger won the match with the following scores:</p>
  
  <table class="scores" cellspacing="5" cellpadding="15">
    <tr>
      <td align="center" width="<%= table_width %>" bgcolor="#ebebeb">
        <p>GAME 1</p>
        <h2><%= @match.challenger_game1 %>:<%= @match.challenged_player_game1 %></h2>
      </td>
      <td align="center" width="<%= table_width %>" bgcolor="#ebebeb">
        <p>GAME 2</p>
        <h2><%= @match.challenger_game2 %>:<%= @match.challenged_player_game2 %></h2>
      </td>
    <% unless @match.challenger_game3.to_i == 0 and @match.challenged_player_game3.to_i == 0 %>
      <td align="center" width="<%= table_width %>" bgcolor="#ebebeb">
        <p>GAME 3</p>
        <h2><%= @match.challenger_game3 %>:<%= @match.challenged_player_game3 %></h2>
      </td>
    <% end %>
    </tr>
  </table>
  <br />
  <table class="callout" cellpadding="15">
    <tr>
      <td align="center" bgcolor="#ECF8FF">
        <p>Your new rank is <%= @match.challenged_player.rank.to_i + 1 %></p>
      </td>
    </tr>
  </table>
<% else %>
  <p>You won the match with the following scores:</p>
  
  <table class="scores" cellspacing="5" cellpadding="15">
    <tr>
      <td align="center" width="<%= table_width %>" bgcolor="#ebebeb">
        <p>GAME 1</p>
        <h2><%= @match.challenger_game1 %>:<%= @match.challenged_player_game1 %></h2>
      </td>
      <td align="center" width="<%= table_width %>" bgcolor="#ebebeb">
        <p>GAME 2</p>
        <h2><%= @match.challenger_game2 %>:<%= @match.challenged_player_game2 %></h2>
      </td>
    <% unless @match.challenger_game3.to_i == 0 and @match.challenged_player_game3.to_i == 0 %>
      <td align="center" width="<%= table_width %>" bgcolor="#ebebeb">
        <p>GAME 3</p>
        <h2><%= @match.challenger_game3 %>:<%= @match.challenged_player_game3 %></h2>
      </td>
    <% end %>
    </tr>
  </table>
  <br />
  <table class="callout" cellpadding="15">
    <tr>
      <td align="center" bgcolor="#ECF8FF">
        <p>Your rank remains unchanged...</p>
      </td>
    </tr>
  </table>
<% end %>
<br />
<p>Thanks for participating!</p>