<h2>You got challenged by <%= @challenger.name %>...</h2>

<table class="message" width="100%">
  <tr>
    <td bgcolor="#ebebeb">  
      <h4>A message from <%= @challenger.first_name %>:</h4>
      <p><%= simple_format(@message) %></p>
    <% if @scheduling_info %>
      <br>
      <h4>Best times to schedule a match with <%= @challenger.first_name %>:</h4>
      <p><%= simple_format(@scheduling_info) %></p>
    <% end %>
    </td>
  </tr>
</table>

<br>

<p>Pease communicate directly with the challenger using the following contact info:</p>

<!-- Callout Panel -->
<table class="callout" cellpadding="15">
  <tr>
    <td bgcolor="#ECF8FF">
      <p><strong>Email:</strong> <%= @challenger.email %></p>
      <p class="last"><strong>Phone:</strong> <%= display_phone(@challenger.phone) %></p>
    </td>
  </tr>
</table>
<!-- /Callout Panel -->

<br>

<p>You can also find the challenger's contact information when you login to our account on the <a href="http://lecomladder.com" target="_blank">LECOM Ladder website</a>.</p>

<p>Thanks for participating!</p>