<h1 style="color:#202020; display:block; font-family:Arial; font-size:22px; font-weight:bold; line-height:100%; margin-top:0; margin-right:0; margin-bottom:10px; margin-left:0; text-align:left;">
  You got challenged by <%= "#{@challenger.first_name} #{@challenger.last_name}" %>...
</h1>
<br>
<table border="0" cellpadding="0" cellspacing="0" width="560">
  <tr>
    <td style="padding:20px;background-color:#eee;">
      <strong>A message from <%= @challenger.first_name %>:</strong>
      <br>
      <%= simple_format(@message) %>
    </td>
  </tr>
</table>
<br>
<br>
  Please communicate directly with the challenger using the following contact info:
<br>
  <strong>Email:</strong> <%= @challenger.email %>
<br>
  <strong>Phone:</strong> <%= @challenger.phone %>
<br><br>
You can also find the challenger's contact information when you login to our account on the <a href="http://lecomladder.com" target="_blank">LECOM Ladder website</a>.
<br><br>
Thanks for participating!