<table class="table">
	<thead>
		<th>&nbsp;</th>
		<th>Latest Ladder Activity</th>
	</thead>
	<tbody>
	<% latest_activity.each do |a| %>
		<tr>
			<% if a.challenge_completed? %>
				<td class="text-muted text-right">
					<%= a.challenge_completed_at %>
				</td>
				<td>
					<strong class="text-success">MATCH COMPLETE</strong><br>
					<%= a.winner_name %> def. <%= a.loser_name %><br>
					<%= a.match_score %>
					<% if a.rank_changed? %>
						<span class="text-muted">(<%= a.challenger_first_name %> assumed #<%= a.challenger_end_rank %>)</span>
					<% end %>
				</td>
			<% elsif a.challenge_issued? %>
				<td class="text-muted text-right">
					<%= a.challenge_issued_at %>
				</td>
				<td>
					<strong class="text-warning">MATCH PENDING</strong><br>
					<%= a.challenger_name %> challenged <%= a.challenged_player_name %>
				</td>
			<% else # challenged canceled %>
				<td class="text-muted text-right">
					<%= a.challenge_canceled_at %>
				</td>
				<td>
					<strong class="text-danger">MATCH CANCELED</strong><br>
					<%= a.challenger_name %> canceled challenge to <%= a.challenged_player_name %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>