<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<p>
  		<%= link_to contacts_path do %>
  			&laquo; Back to Contact List
  		<% end %>
  	</p>
  	<hr>
  	<div class="row">
  		<div class="col-sm-6 col-md-6">
  			<h2><%= @contact.name %></h2>
  			<h5>Competing since <%= @contact.created_at.to_date.to_formatted_s(:long) %></h5>
  			<hr>
  			<p><strong>Email:</strong> <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a></p>
		  	<p><strong>Phone:</strong> <%= display_phone(@contact.phone) %></p>
  		</div>
  		<div class="col-sm-6 col-md-6">
		  	<h4 style="margin-top:30px">Best times to schedule a match</h4>
		  	<% if @contact.scheduling_info.blank? %>
		  		<p class="text-muted">
		  			Sorry, this player did not provide any scheduling info.
		  		</p>
		  	<% else %>
  				<%= simple_format(@contact.scheduling_info) %>
  			<% end %>
		  </div>
		</div>
  </div>
</div>