<% content_for :title do %>
  <%= @player.name %>'s Player Profile
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<p>
  		<%= link_to :back do %>
  			&laquo; Back to last page
  		<% end %>
  	</p>
  	<hr>
  	<div class="row">
  		<div class="col-sm-5">
  			<h2><%= @player.name %></h2>
  			<h5>Competing since <%= @player.created_at.to_date.to_formatted_s(:long) %></h5>
  			<hr>
  			<p><strong>Email:</strong> <a href="mailto:<%= @player.email %>"><%= @player.email %></a></p>
		  	<p><strong>Phone:</strong> <%= display_phone(@player.phone) %></p>
        <hr>
        <h4 style="margin-top:30px">Best times to schedule a match</h4>
        <% if @player.scheduling_info.blank? %>
          <p class="text-muted">
            Sorry, this player did not provide any scheduling info.
          </p>
        <% else %>
          <%= simple_format(@player.scheduling_info) %>
        <% end %>
  		</div>
  		<div class="col-sm-7">
		  	<%= render partial: "/matches/history", locals: { matches: @match_history, current_player_id: @player.id } %>
		  </div>
		</div>
  </div>
</div>