<% if player.id == current_player.id %>
	<tr class="info">
<% else %>
	<tr>
<% end %>
		<td class="text-center"><%= player.rank %></td>
		<td>
			<%= link_to player.name, contact_path(player), title: "Detailed Profile for #{player.first_name}" %>
		</td>
		<% if player.challenge_issued? %>
			<td><i class="fa fa-arrow-right text-success"></i></td>
			<td>
				<%= player.last_challenge.challenged_player.name %>
				<%= render partial: "challenge_date", object: player.last_challenge, as: 'challenge' %>
			</td>
		<% elsif player.challenge_match_pending? %>
			<td><i class="fa fa-arrow-left text-danger"></i></td>
			<td>
				<%= player.last_challenge.challenger.name %>
				<%= render partial: "challenge_date", object: player.last_challenge, as: 'challenge' %>
			</td>
		<% else %>
			<td colspan="2">&nbsp;</td>
		<% end %>
		</td>
	</tr>