<% content_for :title do %>
	Your Player Profile
<% end %>

<div class="row">
	<div class="col-xs-4 col-sm-3">
		<div class="rank-badge">
			<p class="rank">
				<%= current_player.rank %>
				<p>CURRENT RANK</p>
			</p>
		</div>
	</div>
	<div class="col-xs-8 col-sm-9">
		<h2><%= current_player.name %></h2>
		<h5>Competing since <%= current_player.created_at.to_date.to_formatted_s(:long) %></h5>
		<p><%= link_to "View your match history", contact_path(current_player.id) %></p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row">
	<div class="col-sm-6">
		<% if @current_challenge.challenge? or @current_challenge.challenge_pending? %>
			<%= render partial: "/players/challenge_badge", object: @current_challenge, as: "current_challenge" %>
		<% elsif current_player.rank.to_i == 1 %>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="top-of-ladder-badge text-center">
						<h4>You are at the top of the ladder!</h4>
						<p>CONGRATS! Now you have to wait for other players to challenge you.</p>
					</div>
				</div>
			</div>
		<% else %>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Rank</th>
						<th>Player</th>
						<th>&nbsp;</th>
						<th>Challenges</th>
					</tr>
				</thead>
				<tbody>
				<% @players.each do |p| %>
					<tr>
						<td class="text-center"><%= p.rank %></td>
						<td><%= p.name %></td>
						<% if p.id == current_player.id %>
							<td>&nbsp;</td>
							<td>You</td>
						<% elsif p.challenge_issued? %>
							<td><span class="glyphicon glyphicon-arrow-right text-success"></span></p>
							<td>
								<%= p.last_challenge.challenged_player.name %>
								<%= render partial: "challenge_date", object: p.last_challenge, as: 'challenge' %>
							</td>
						<% elsif p.challenge_match_pending? %>
							<td><span class="glyphicon glyphicon-arrow-left text-danger"></span></td>
							<td>
								<%= p.last_challenge.challenger.name %>
								<%= render partial: "challenge_date", object: p.last_challenge, as: 'challenge' %>
							</td>
						<% elsif current_player.rank.to_i < p.rank.to_i %>
							<td colspan="2">&nbsp;</td>
						<% elsif current_player.challenge_reissue_delay?(p) %>
							<td>&nbsp;</td>
							<td>Challenge again in <%= distance_of_time_in_words(Date.current,current_player.challenge_reissue_date(p)) %></td>
						<% else %>
							<td>&nbsp;</td>
							<td><%= link_to "challenge", new_match_path(:id => p.id) %></td>
						<% end %>
					</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="col-sm-6">
		<%= render partial: "/activity/latest", object: @latest_activity, as: 'latest_activity' %>
	</div>
</div>