<% content_for :head do %>
	<script>
		$(function(){
			$('#match_played_at_formatted').datepicker({
					format: 'mm/dd/yyyy'
				});

			$('#match_played_at_formatted').onclick({
				$('#match_played_at_formatted').datepicker('show');	
			});
		});
	</script>
<% end %>

<div class="row">
	<div class="span6 offset3">

		<h2>Match Results</h2>
		<%= simple_form_for @match do |f| %>
			
			<div class="date-select">
				<%= f.input :played_at, as: :date, class: 'span2' %>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th><%= "#{@match.challenger.first_name} #{@match.challenger.last_name}" %></th>
						<th><%= "#{@match.challenged_player.first_name} #{@match.challenged_player.last_name}" %></th>
					</tr>
				</thead>
				<tbody class="score">
					<tr>
						<th>GAME 1</th>
						<td><%= f.input :challenger_game1, collection: @match.score_select, label: false, selected: @match.challenger_game1 %></td>
						<td><%= f.input :challenged_player_game1, collection: @match.score_select, label: false, selected: @match.challenged_player_game1 %></td>
					</tr>
					<tr>
						<th>GAME 2</th>
						<td><%= f.input :challenger_game2, collection: @match.score_select, label: false, selected: @match.challenger_game2 %></td>
						<td><%= f.input :challenged_player_game2, collection: @match.score_select, label: false, selected: @match.challenged_player_game2 %></td>
					</tr>
					<tr>
						<th>GAME 3</th>
						<td><%= f.input :challenger_game3, collection: @match.score_select, label: false, selected: @match.challenger_game3 %></td>
						<td><%= f.input :challenged_player_game3, collection: @match.score_select, label: false, selected: @match.challenged_player_game3 %></td>
					</tr>
				</tbody>
			</table>

			<div class="form-actions">
		    <%= f.button :submit, 'Submit Match Results', class: "btn-primary", disable_with: 'Working...' %>
		    <%= link_to 'Cancel and Go Back', player_path(current_player), :class => 'btn' %>
		  </div>
		<% end %>
	</div>
</div>