<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

		<h2>Match Results</h2>
		<%= simple_form_for(@match, html: { role: 'form' }) do |f| %>

			<div class="date-select">
				<%= f.input :played_at, collection: match_date_select(5), label: 'You played the match', selected: @match.played_at %>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th><%= @match.challenger.name %></th>
						<th><%= @match.challenged_player.name %></th>
					</tr>
				</thead>
				<tbody class="score">
					<tr>
						<th>GAME 1</th>
						<td><%= f.input :challenger_game1, collection: @match.score_select, label: false, selected: @match.challenger_game1 %></td>
						<td><%= f.input :challenged_player_game1, collection: @match.score_select, label: false, selected: @match.challenged_player_game1 %></td>
					</tr>
					<tr>
						<th>GAME 2</th>
						<td><%= f.input :challenger_game2, collection: @match.score_select, label: false, selected: @match.challenger_game2 %></td>
						<td><%= f.input :challenged_player_game2, collection: @match.score_select, label: false, selected: @match.challenged_player_game2 %></td>
					</tr>
					<tr>
						<th>GAME 3</th>
						<td><%= f.input :challenger_game3, collection: @match.score_select, label: false, selected: @match.challenger_game3 %></td>
						<td><%= f.input :challenged_player_game3, collection: @match.score_select, label: false, selected: @match.challenged_player_game3 %></td>
					</tr>
				</tbody>
			</table>
			<hr>
			<div class="form-group">
		    <%= f.button :submit, 'Submit Match Results', class: "btn-primary", data: { disable_with: 'Working...' } %>
		    <%= link_to 'Cancel and Go Back', player_path(current_player), :class => 'btn' %>
		  </div>
		<% end %>
	</div>
</div>