<h3>You are challenging <%= "#{@challenged_player.first_name} #{@challenged_player.last_name}" %></h3>

<%= bootstrap_form_for @match do |f| %>
	
	<%= f.hidden_field(:challenger_id) %>
	<%= f.hidden_field(:challenged_player_id) %>
	
	<%= text_area_tag(:message, "", :size => "40x6", :class => "span6", :style => "background-color:#f8f8f8;", :placeholder => "Your message here...") %>

	<%= f.actions do %>
    <%= f.primary 'Submit Challenge', disable_with: 'Challenging...' %>
  <% end %>
<% end %>

